%html
  %body
    .container
      .row
        .col-md-6.col-md-offset-3
          %h1= 'URL Shortener'
      .row
        .col-md-6.col-md-offset-3
          = form_for Url.new do |f|
            .form-group
              = f.label :original, 'Enter an URL to be shortened:'
              = f.text_field :original,
                class: 'form-control',
                placeholder: 'https://www.example.com'

            .form-group
              = f.submit "Make it short", class: 'btn btn-primary'

      - if @url.present?
        .row
          .col-md-6.col-md-offset-3
            - if @url.errors.any?
              .alert.alert-danger
                - @url.errors.each do |attr, message|
                  %p= "#{attr}: #{message}"
            - else
              .panel.panel-default
                .panel-heading
                  %span= 'Original URL:'
                  #original.text-muted= @url.original
                .panel-body
                  %span.panel-info= 'Shortened link:'
                  #shortened= link_to nil, @shortened_url

